* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: blue;
  width: 500px;
  height: 300px;
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -150px;
  color: white;
  gap: 10px;
}

button {
  background-color: black;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.calculate {
    background-color: green;
    color: white
}