* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
}

.quiz-container {
  background-color: white;
  width: 500px;
  position: absolute;
  top: 25%;
  left: 50%;
  margin-left: -250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.option-btn {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

#question,
#score {
  text-align: center;
  color: black;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#next-question {
    align-items: center;
}

.correct {
    background-color: green;
    color: white;
}

.wrong {
    background-color: red;
    color:white;
}